<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/layui.css">
    </head>
    <body>
        <form method="get" action='/registuser'>
            <label>账户（邮箱）：<input type="text" name="user" value=""></label><br>
            <label>输入密码：<input type="password" name="password1" value=""></label><br>
            <label>确认密码：<input type="password" name="password2" value=""></label><br>
            <label>工作单位：<input type="text" name="organization" value=""></label><br>
            <label>职务：<input type="text" name="job" value=""></label><br>
            <label>真实姓名：<input type="text" name="name" value=""></label><br>
            <input type="submit" value="注册">
        </form>

    </body>
</html>
